.nav {
    background-color: rgb(255, 93, 209);
    padding: 10px 0;
    text-align: start;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: rgb(255, 0, 183);
  }
  
  .navLink.active {
    color: rgb(255, 0, 183);
  }